AccountService/bin/*
AccountService/obj/*
AccountService.Tests/bin/*
AccountService.Tests/obj/*
CentsationalConsole/bin/*
CentsationalConsole/obj/*
/.vs
/Configuration/obj
/Domain/bin
/Domain/obj
/CentsationalApp/bin
/CentsationalApp/obj
/CS_Finance_App/AccountService.Tests/bin
/CS_Finance_App/AccountService.Tests/obj
/CS_Finance_App/AccountService/obj
/CS_Finance_App/CentsationalApp/bin
/CS_Finance_App/CentsationalApp/obj
/CS_Finance_App/CentsationalConsole/bin
/CS_Finance_App/CentsationalConsole/obj
/CS_Finance_App/Configuration/bin
/CS_Finance_App/Configuration/obj
/CS_Finance_App/Domain/obj
/VB_Finance_App/VBCensationalConsole/bin
/VB_Finance_App/VBCensationalConsole/obj
/VB_Finance_App/VBCentsationalApp/bin
/VB_Finance_App/VBCentsationalApp/obj
/CS_Finance_App/Domain/bin
/CS_Finance_App/AccountService/bin
/VB_Finance_App/VBData/obj
/VB_Finance_App/VBDomain/bin
/VB_Finance_App/VBDomain/obj
